.inputLogin {
    background-color: #2196f3!important;
    text-align: center;
    color: white;
    /* border: 3px solid #A0CFE6; */
    border-radius: 15px;
    /* box-shadow: 0 5px 5px #C3C3C3; */
}

.loginButton {
    min-width: 25%;
    background-color: #035599!important;
    text-align: center;
    color: white;
    /* border: 2px solid #80BFDE; */
    border-radius: 8px;
    /* box-shadow: 0 5px 5px #C3C3C3; */
}

.inputLogin::placeholder { 
    color: white;
    opacity: 1; 
  }
  
  .inputLogin::-ms-input-placeholder { 
    color: white;
  }
  
  .inputLogin::-ms-input-placeholder { 
    color: white;
  }

  .btn-close {
    display: none;
  }

  .login-modal-form {
    background-color: #2196f3;
    color: white;
  }
  .my-login-modal {
      width: 25%!important;
  }
  .login-modal-form {
      height: 30vw!important;
  }
  .modal-footer {
    border-radius: 0;
    bottom:0px;
    position:absolute;
    width:100%;
  }
  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
  }
  a {
  text-decoration: none;
  }