.inputLogin {
    background-color: #c5e3f0!important;
    text-align: center;
    color: black;
    border: 3px solid #A0CFE6;
    border-radius: 20px;
    box-shadow: 0 5px 5px #C3C3C3;
}

.inputButton {
    min-width: 25%;
    background-color: #133F52!important;
    text-align: center;
    color: white;
    border: 2px solid #80BFDE;
    border-radius: 20px;
    box-shadow: 0 5px 5px #C3C3C3;
}

.inputLogin::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9eb6c0;
    opacity: 1; /* Firefox */
  }
  
  .inputLogin::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9eb6c0;
  }
  
  .inputLogin::-ms-input-placeholder { /* Microsoft Edge */
    color: #9eb6c0;
  }