/* .Toastify__toast--error {
    background-color: red;
    color: white;
}

.Toastify__toast--error > svg {
    background-color: white;
} */

::-webkit-scrollbar {
    /* width: 0; */
    /* Remove scrollbar space */
    /* background: none;   */
    /* Optional: just make scrollbar invisible */
}

.pos-button {
    border-radius: 0!important;
    background-color: #0069c0;
    box-shadow: 0 5px 5px #C3C3C3;
}

.pos-input {
    border-radius: 0!important;
    box-shadow: 0 5px 5px #C3C3C3;
}

.pos-select {
    border-radius: 0!important;
    box-shadow: 0 5px 5px #C3C3C3;
}